header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    z-index: 99;
    backdrop-filter: blur(1px)
}
.logo{
    color: white;
    user-select: none
}
.link{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 40px;
}

.link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.link:hover::after{
    transform-origin: left;
    transform:  scaleX(1)
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 2em;
    width: 2em;
}

@media (min-width: 767px) {
    .mobileNavToggle {
        display: none;
        color: white;
        
      }
}


@media (max-width: 767px) {
    .mobileNavToggle {
      display: block;
      color: white;
    }
  
    .navigation {
      flex-direction: column;
      align-items: center;
      backdrop-filter: blur(8px);
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      padding: 20px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;
    }
  
    .navigation.open {
      opacity: 1;
      pointer-events: initial;
    }
  
    
  }

  .buttonLogin{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.buttonLogin:hover{
background: #fff;
color: cadetblue;
}

@media (max-width: 767px) {
    .buttonLogin {
        margin-top: 20px;
      }
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 20px;
  }
 
  
  
  
  
  